@import 'fonts';
@import 'variables';

button.button {
  padding: 15px;
  border: 1px solid $blue-light;
  background-color: $white;
  border-radius: 5px;
  @include desktop-button-font;
  cursor: pointer;
  transition: background-color $animation-speed,
              color $animation-speed;

  &:hover {
    background-color: $blue-light;
    color: $white;

    svg > path{
      fill: $white;
    }
  }

  svg {
    height: 18px;
    margin-top: -2px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;

    > path {
      transition: fill $animation-speed;
    }
  }
}
