@import 'variables.scss';

.homePageContainer {
  width: 100%;
  height: 100%;

  .waterSeparator {
    width: 100%;
    height: 200px;
    background-image: url('./water-bubbles.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: $viewport-small-size) {
  .homePageContainer .waterSeparator {
    background-position: 0% 0%;
  }
}
