.contactDealerContent {
  width: 100% !important;
  max-width: 575px;
}

@media screen and (max-height: 860px) {
  .contactDealerContent {
    align-self: auto !important;
    overflow-y: auto;
  }
}
