@import 'fonts';
@import 'variables';

.customInput {
  width: 100%;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .indicator {
    width: 20px;
    height: 20px;
    margin: auto;
    background-image: url('./empty.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 19px;
    right: 20px;
    bottom: 0;
    transition: background-image $animation-speed;

    &.error {
      // TODO update with the correct image haha.
      background-image: url('./valid.png');
    }

    &.valid {
      background-image: url('./valid.png');
    }
  }

  .optional {
    position: absolute;
    right: 0;
    @include font-open-sans-regular;
    @include font-size(14px);
    color: #bebebe;
    font-style: italic;
  }

  .label {
    display: block;
    @include font-open-sans-bold;
    @include font-size(14px);
    color: $grey-dark;
  }

  .input {
    width: 100%;
    height: 50px;
    padding: 13px;
    background-color: $white;
    border: 1px solid $grey-light;
    @include font-open-sans-regular;
    @include font-size(16px);
    color: $grey-dark;
    transition: border-color $animation-speed;

    &.error {
      border-color: #e22727;
    }
  }
}
