@import 'fonts';
@import 'variables';

.heroContainer {
  padding: 100px 0;
  background-image: url('./hero-image.png');
  background-position: center center;
  background-size: cover;
  text-align: center;

  h1 {
    margin-bottom: 35px;
    @include font-open-sans-light;
    @include font-size(42px);
    color: $white;
    text-shadow: 0 2px 10px #041a3b;
  }

  h2 {
    margin-bottom: 45px;
    @include font-open-sans-bold;
    @include font-size(20px);
    color: $teal-dark;
    text-shadow: 0 1px 10px #041a3d;
    text-transform: uppercase;
  }

  .heroSeparator {
    width: 135px;
    height: 2px;
    margin: 0 auto 55px auto;
    display: block;
    background-color: $white;
  }

  p {
    @include paragraph-font;
    color: $white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  }
}

@media screen and (max-width: $viewport-small-size) {
  .heroContainer {
    padding: 100px 25px;
    background: url('./hero-image-mobile.png');
    background-position: center;
    background-size: cover;
  }
}
