@import 'fonts';
@import 'variables';

.dealerContainer {
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  text-align: center;

  .dealerTitle {
    height: 85px;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
      line-height: 31px;
      @include font-open-sans-light;
      @include font-size(26px);
      color: #1a1a1a;
    }
  }

  .seperator {
    width: 95%;
    height: 1px;
    margin: 0 auto 47px;
    display: block;
    background-color: $grey-light;
  }

  > p {
    margin-bottom: 17px;
    padding-left: 38px;
    display: inline-block;
    @include font-open-sans-bold;
    @include font-size(26px);
    color: $grey-dark;
    text-align: center;
    position: relative;

    &:before {
      width: 28px;
      height: 28px;
      margin: auto;
      display: block;
      content: '';
      border-radius: 100%;
      background-image: url('./phone-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $blue-light;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  > span.hint {
    width: 100%;
    margin-bottom: 18px;
    display: block;
    @include detail-font;
    font-style: italic;
    color: $grey-dark;
  }

  .contactProButton {
    display: inline-block;
    margin-bottom: 28px;

    > button {
      border-color: $teal-light;

      &:hover {
        background-color: $teal-light;
      }
    }
  }

  .businessHours {
    width: 100%;
    height: 85px;
    margin-bottom: 50px;

    > span {
      @include font-open-sans-bold;
      @include font-size(12px);
      color: $grey-dark;
    }

    > ul {
      list-style: none;

      li {
        @include font-open-sans-regular;
        @include font-size(12px);
        line-height: 21px;
      }
    }
  }

  .certifications {
    height: 90px;
    padding: 21px 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $grey-ultralight;

    ul {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        width: 50%;
        @include font-open-sans-regular;
        @include font-size(12px);
        text-align: left;

        > img {
          height: 11px;
          width: 12px;
          margin-right: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) and (min-width: $viewport-medium-size) {
  .dealerContainer .certifications {
    // Just a little breathing room
    padding: 21px 40px;
  }
}

@media screen and (max-width: $viewport-small-size) {
  .dealerContainer .businessHours {
    height: auto;
  }
}

@media screen and (max-width: $viewport-tiny-size) {
  .dealerContainer .certifications {
    padding: 21px 10px;
  }
}
