@import 'fonts';
@import 'variables';

.contactDealerForm {
  width: 100%;
  height: 100%;

  .header {
    padding: 35px 52px 35px;
    background-color: $blue-dark;

    span {
      display: block;
      margin-bottom: 6px;
      @include font-open-sans-bold;
      @include font-size(15px);
      color: $white;
      text-transform: uppercase;
    }

    h4 {
      @include font-open-sans-light;
      @include font-size(25px);
      color: $white;
    }
  }

  .body {
    padding: 30px;

    .instructions {
      @include font-open-sans-regular;
      @include font-size(14px);
      color: $grey-medium;
    }

    .formBody {
      margin-top: 35px;
      padding: 23px;
      background-color: $grey-ultralight;

      .form {
        input {
          width: 100%;
        }

        .dealerFormPhone {
          width: 50%;
        }

        .currentlyOwns {
          display: flex;
          flex-wrap: wrap;

          .mainLabel {
            width: 100%;
            margin-bottom: 8px;
            display: block;
            @include font-open-sans-bold;
            @include font-size(14px);
            color: $grey-dark;
          }

          .label {
            width: 61px;
            height: 28px;
            display: block;
            border: 1px solid $grey-dark;
            border-radius: 2px;
            background-color: $grey-ultralight;
            text-align: center;
            line-height: 26px;
            cursor: pointer;
            @include font-open-sans-regular;
            @include font-size(13px);
            transition: background-color $animation-speed,
                        border-color $animation-speed;

            &:not(:last-child) {
              margin-right: 10px;
            }

            &:hover {
              background-color: rgba($teal-light, 0.5);
            }
          }

          input {
            display: none;

            &:checked + label {
              border-color: #026b6b;
              background-color: $teal-light;

              &:hover {
                background-color: $teal-light;
              }
            }
          }
        }

        .separator {
          width: 100%;
          height: 1px;
          display: block;
          background-color: $grey-light;
          margin: 17px auto 22px;
        }

        button {
          margin: 0 auto;
          background-color: transparent;
          border: 0px;
          display: block;
          text-align: center;
          cursor: pointer;
          @include font-open-sans-bold;
          color: $grey-dark;

          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .formInformation {
    width: 100%;
    background-color: $grey-ultralight;
    margin-top: 28px;

    p {
      padding: 20px;
      @include font-open-sans-regular;
      @include font-size(12px);
    }
  }
}
