@import 'variables';

body.modalActive {
  overflow: hidden;
}

.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: appear 500ms ease-in-out;
  transition: opacity 500ms;

  .modalContent {
    width: 30vw;
    align-self: center;
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;

    .closeButton {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
