@import 'variables';

.dealerSearchContainer {
  width: 100%;
  max-width: $viewport-large-size;
  margin: 0 auto;
  padding: 0 20px 40px;

  .dealerList {
    width: 100%;
    margin-top: 40px;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;

      > li {
        width: 32%;
      }
    }
  }
}

@media screen and (max-width: $viewport-medium-size) {
  .dealerSearchContainer {
    padding: 0px;

    .dealerList > ul {
      padding: 0px 20px;
      > li {
        width: 49%;

        &:nth-child(odd) {
          margin-right: 1%;
        }
      }
    }
  }
}

@media screen and (max-width: $viewport-small-size) {
  .dealerSearchContainer .dealerList > ul > li {
    width: 100%;
    max-width: 500px;
    margin: 0 auto !important;
  }
}
