@import 'fonts';
@import 'variables';

$mobile-nav-item-height: 80px;

nav {
  height: 100%;
  margin-left: auto;
  margin-right: 75px;
  position: relative;

  .mobileNavHeader {
    display: none;
  }

  ul {
    height: 100%;
    display: flex;
    list-style: none;

    > li {
      // Top level navigation
      line-height: 100px;
      position: relative;
      transition: background-color $animation-speed ease-in-out;

      > a {
        width: 100%;
        height: 100%;
        display: block;
        @include font-open-sans-bold;
        color: $blue-dark;
        text-decoration: none;

        > span {
          padding: 0 30px 0 20px;
          display: block;
          position: relative;

          // Border above top level link
          &:before {
            width: 100%;
            height: 4px;
            content: '';
            background-color: $teal-light;
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity $animation-speed;
          }

          // Next arrow
          &:after {
            width: 8px;
            height: 8px;
            display: block;
            content: '';
            background-image: url('./next-arrow.png');
            background-size: 8px 8px;
            position: absolute;
            top: 0;
            left: 0;
            right: 10px;
            bottom: 0;
            margin: auto 0px auto auto;
          }
        }
      }

      &:hover {
        background-color: $grey-ultralight;

        > a > span::before {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: $viewport-medium-size) {
  nav {
    width: 100%;
    height: auto;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform $animation-speed ease-in-out;
    z-index: 1;

    &.mobileNavActive {
      transform: scaleY(1);
    }

    .mobileNavHeader {
      width: 100%;
      height: $mobile-nav-item-height;
      display: block;
      border-top: 4px solid $teal-light;
      background-color: $white;
      text-align: center;
      position: relative;

      p {
        line-height: $mobile-nav-item-height;
        @include font-open-sans-bold;
        color: $blue-dark;
        text-transform: uppercase;
      }

      .mobileNavClose {
        top: 15px;
        right: 15px;
        position: absolute;
        cursor: pointer;
      }
    }

    ul {
      flex-direction: column;

      li {
        background-color: $grey-ultralight;

        > a {
          height: 80px;

          > span:before {
            display: none;
          }
        }
      }
    }
  }
}
