@import 'fonts';
@import 'variables';

.filters {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: $grey-ultralight;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    height: 50px;
    margin-right: 35px;
    line-height: 50px;
    @include font-open-sans-bold;
    @include font-size(18px);
  }

  .dealerCountLabel {
    padding: 0 20px 0 0;
    border-right: 2px solid $grey-light;
    color: $blue-light;
  }

  .filterResultsLabel {
    color: #3f3f3f;
  }

  .filterResult {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 10px;

        &:not(:last-child) {
          margin-right: 35px;
        }
      }
    }
  }

  .filterToolTip {
    width: 19px;
    height: 18px;
    background-color: $grey-light;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (max-width: $viewport-medium-size) {
  .filters {
    border-radius: 0px;

    .dealerCountLabel {
      padding: 0;
      flex: 0.75;
      text-align: center;
    }

    .filterResultsLabel {
      flex: 1;
    }

    .filterResult {
      flex: 2;

      ul {
        flex-wrap: wrap;

        li {
          width: 50%;
          margin-right: 0;

          &:first-child {
            margin-bottom: 5px;
          }

          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $viewport-small-size) {
  .filters {
    padding: 20px;
    flex-wrap: wrap;

    p {
      margin-right: 0;
      border-right: 0;
    }

    .dealerCountLabel,
    .filterResultsLabel,
    .filterResult {
      flex: 0 1 auto;
    }

    .dealerCountLabel {
      width: 50%;
      margin-right: 0;
      border-right: 0;
      text-align: center;
    }

    .filterResultsLabel {
      width: 50%;
      padding-left: 20px;
      background-color: $white;
      border-top: 1px solid $grey-light;
      border-right: 1px solid $grey-light;
      border-left: 1px solid $grey-light;
      position: relative;
      cursor: pointer;

      &:before {
        width: 46px;
        height: 100%;
        display: block;
        content: '';
        border-left: 1px solid $grey-light;
        background-color: $grey-ultralight;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:after {
        width: 8px;
        height: 6px;
        margin: auto;
        content: '';
        background-image: url('./drop-arrow.svg');
        position: absolute;
        top: 0;
        right: 19px;
        bottom: 0;
      }
    }

    .filterResult {
      width: 100%;
      padding: 16px;
      border: 1px solid $grey-light;
      background-color: $white;

      ul {
        width: 100%;

        li {
          line-height: 50px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .filters {
    .dealerCountLabel {
      width: 35%;
      padding-left: 5px;
      text-align: left;
    }

    .filterResultsLabel {
      width: 65%;
    }

    .filterResult ul li {
      width: 100%;
      text-align: left;
    }
  }
}

@media screen and (max-width: $viewport-tiny-size) {
  .filters {
    .dealerCountLabel {
      width: 100%;
      padding-left: 0;
      text-align: center;
    }

    .filterResultsLabel {
      width: 100%;
    }
  }
}
