@import 'variables';
@import 'fonts';

.stepContainer {
  display: flex;
  align-items: center;

  .circle {
    width: 83px;
    height: 83px;
    margin-right: 20px;
    border: 4px solid $blue-dark;
    border-radius: 100%;
    text-align: center;
    line-height: 75px;
    @include font-open-sans-bold;
    @include font-size(50px);
    color: $teal-medium;
  }

  .information {
    width: 100%;
    max-width: 230px;

    .infoTitle {
      margin-bottom: 10px;
      @include font-open-sans-bold;
      @include font-size(17px);
      color: $blue-dark;
    }

    .infoDescription {
      @include detail-font;
      color: #666666;
    }
  }
}

@media screen and (max-width: $viewport-medium-size) and (min-width: $viewport-small-size) {
  .stepContainer {
    flex-direction: column;

    .circle {
      margin: 0;
    }

    .information {
      .infoTitle,
      .infoDescription {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: $viewport-tiny-size) {
  .stepContainer {
    flex-direction: column;

    .circle {
      margin: 0 0 10px 0;
    }

    .information {
      text-align: center;
    }
  }
}
