@import 'fonts';
@import 'variables';

li.navigationItem {
  > .subNavigation {
    width: 500px;
    padding: 46px;
    visibility: hidden;
    opacity: 0;
    border-bottom: 4px solid $teal-light;
    background-color: $grey-ultralight;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity $animation-speed ease-in-out,
                visibility $animation-speed ease-in-out;

    > ul {
      display: flex;
      flex-wrap: wrap;

      > li {
        width: 50%;
        height: auto;
        line-height: normal;

        // When on mobile there needs to be the top level navigation item
        // inside the sub navigation since the top level onClick is now
        // used to open the sub navigation
        &.mobileTopLevelNavItem {
          display: none;
        }

        > a {
          @include paragraph-font;
          outline: none;

          > span {
            padding: 10px 10px;

            &:before,
            &:after {
              display: none;
            }

            &:hover {
              color: $teal-light;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $viewport-medium-size) {
    &:hover > .subNavigation {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media screen and (max-width: $viewport-medium-size) {
  li.navigationItem {
    > .subNavigation {
      width: 100%;
      max-height: 0;
      padding: 0px;
      border: 0px;
      opacity: 1;
      visibility: visible;
      position: initial;
      left: 0;
      transform: translateX(0);
      transition: max-height $animation-speed ease-in-out;

      &.subNavigationActive {
        max-height: 700px;
        display: block;
      }

      > ul > li {
        padding-left: 50px;

        &.mobileTopLevelNavItem {
          display: block;
        }

        > a {
          line-height: 60px;
        }
      }
    }
  }
}
