@import 'variables';

.stepsContainer {
  width: 100%;
  margin-top: 35px;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li:not(:last-child) {
      margin-right: 35px;
    }
  }
}

@media screen and (max-width: 1070px) {
  .stepsContainer ul li:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (max-width: $viewport-small-size) {
  .stepsContainer ul {
    flex-direction: column;
    align-items: center;

    li:not(:last-child) {
      margin: 0 0 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $grey-light;
    }
  }
}
