@import 'variables.scss';
@import 'fonts.scss';

header {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  > .subHeading {
    height: $sub-bar-height;
    background: $blue-dark;

    ul {
      width: 100%;
      max-width: $viewport-large-size;
      height: 100%;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      li {
        @include light-font;

        &:not(:last-child) {
          margin-right: 25px;
        }

        a {
          color: $white;
          text-decoration: none;
        }
      }

      li.commercialService {
        a {
          padding-right: 10px;
        }

        &::after {
          width: 13px;
          height: 13px;
          content: '';
          display: inline-block;
          background: url('./icon-action.png');
          background-size: 13px;
          vertical-align: middle;
        }
      }
    }
  }
  > .heading {
    width: 100%;
    height: $desktop-navigation-height;

    .headingContainer {
      width: 100%;
      height: 100%;
      max-width: $viewport-large-size;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      align-items: center;

      .logo > a > img {
        height: 33px;
      }

      .mobileNavToggle {
        width: 50px;
        height: 50px;
        display: none;
        margin-left: 15px;
        padding: 15px;
        background-color: $white;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 100%;
        position: relative;
        cursor: pointer;

        span {
          width: 20px;
          height: 4px;
          margin: auto;
          background-color: $blue-dark;
          position: absolute;
          left: 0;
          right: 0;

          &:nth-child(2) {
            width: 15px;
            margin-top: 8px;
            left: 4px;
          }

          &:nth-child(3) {
            margin-top: 16px;
          }
        }
      }

      @media screen and (max-width: $viewport-medium-size) {
        .poolProButton {
          margin-left: auto;
        }

        .mobileNavToggle {
          display: block;
        }
      }
    }
  }
}


@media screen and (max-width: $viewport-small-size) {
  header > .subHeading {
    display: none;
  }

  header > .heading {
    height: 60px;

    .headingContainer {
      > .logo > a > img {
        width: 155px;
        height: auto;
      }

      > .poolProButton > button {
        padding: 8px;
        font-size: calculateRem(14px);
      }

      > .mobileNavToggle {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header > .heading > .headingContainer{
    .poolProButton {
      display: none;
    }

    .mobileNavToggle {
      margin-left: auto;
    }
  }
}
