@import 'fonts';
@import 'variables';

.footerContainer {
  width: 100%;
  text-align: center;

  .foot {
    padding: 37px;
    background-color: $blue-dark;

    > img {
      display: block;
      margin: 0 auto 27px;
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-right: 30px;
        @include font-open-sans-bold;
        color: $white;
        text-transform: uppercase;
      }

      ul {
        list-style: none;

        li {
          display: inline-block;

          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
  }

  .subFooter {
    padding: 13px 0;
    background-color: $blue-light;

    .subFooterCopy {
      @include detail-font;
      color: $white;

      a {
        text-decoration: none;
        color: $white;
      }

      .seperator {
        margin: 0 15px;
      }
    }
  }
}

@media screen and (max-width: $viewport-tiny-size) {
  .footerContainer {
    .foot .social{
      flex-wrap: wrap;

      span {
        margin: 0 0 20px;
        margin-right: 0;
      }
    }

    .subFooter {
      .subFooterCopy {
        span,
        a {
          display: block;

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
        .seperator {
          display: none;
        }
      }
    }
  }
}
