@import 'fonts';
@import 'variables';

.checkboxContainer {
  .htmlCheckbox {
    display: none;
  }

  .htmlCheckbox:checked ~ .checkbox {
    border-color: transparent;
    background-color: $blue-light;
  }

  .htmlCheckbox:checked ~ .checkbox:after {
    opacity: 1;
    transform: scale(1);
  }

  .checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #d8d8d8;
    background-color: $white;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    &:after {
      // Little white box
      width: 6px;
      height: 6px;
      margin: auto;
      background-color: $white;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transform: scale(0);
      transition: opacity $animation-speed,
                  transform $animation-speed;
      transition-delay: 30ms;
    }
  }

  .label {
    margin-left: 7px;
    cursor: pointer;
    @include detail-font;
  }
}
