$base-font-size: 16px;
// Convert font-size to REM
@function calculateRem($size) {
  $rem-size: $size / $base-font-size;
  @return #{$rem-size}rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Font family mixins
@mixin font-open-sans-light {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 300;
  }
}

@mixin font-open-sans-regular {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 400;
  }
}

@mixin font-open-sans-semibold {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 600;
  }
}

@mixin font-open-sans-bold {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 700;
  }
}

@mixin light-font {
  @include font-open-sans-light;
  @include font-size(12px);
}

@mixin detail-font {
  @include font-open-sans-regular;
  @include font-size(12px);
}

@mixin paragraph-font {
  @include font-open-sans-regular;
  @include font-size(16px);
  color: $grey-medium;
}

@mixin desktop-button-font {
  @include font-open-sans-bold;
  @include font-size(14px);
  color: $blue-light;
}
