// Colors
$white: #ffffff;
$grey-ultralight: #f6f6f6;
$grey-light: #e5e5e5;
$grey-medium: #616161;
$grey-dark: #3f3f3f;
$blue-light: #216ddf;
$blue-medium: #4883B5;
$blue-dark: #083d8c;
$teal-light: #03c4c3;
$teal-medium: #46d6d6;
$teal-dark: #02c7c6;

// Sizes
$viewport-large-size: 1220px;
$viewport-medium-size: 1040px;
$viewport-small-size: 760px;
$viewport-tiny-size: 360px;
$desktop-navigation-height: 100px;
$sub-bar-height: 42px;

// Timing
$animation-speed: 300ms;
